@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<a href="/Home/GetContent">Siteye Git</a>

<script>
    window.onload=function(){arguments
    
//Hayır, JavaScript'in fetch metodu ile bir HTTP isteği yapıldığında sunucudan dönen cevabın JSON formatında
//işlenmesi gerekiyorsa, dönen verinin geçerli bir JSON olması şarttır. Eğer sunucu JSON formatında bir cevap 
//döndürmezse, response.json() metodu bir hata fırlatır ve istemci tarafında bu veri işlenemez.

// Javascript fetch ile mvc tarafındaki bir action'a istek yapabildim!!
// ve aynı zamanda istek yaptığım action'dan geriye return content döndügü için, 
// actiondan gelen veriyi json ile okuyabildim!!

        fetch('/Home/GetContent')
        .then(response=>response.json())
        .then(data=>{
            alert(data.name)

        })    
    };

</script>